# Compiled class file
*.class

# Configuration files
*.conf

# Key files
*.pem

# Jar file
*.jar

# Log file
*.log

# Gradle
.gradle
assembly
build
gradlew.bat

# IDEA
.idea
.shelf
out
*.ipr
*.iml
*.iws

# Diploma text
*.aux
*.toc
*.synctex.gz

# BIM files
*.exp
*.ifc