# Compiled class file
*.class

# Log file
*.log

# Gradle
.gradle
assembly
build
gradlew.bat

# IDEA
.idea
.shelf
out
*.ipr
*.iml
*.iws

# Diploma text
*.aux
*.toc
*.synctex.gz

# BIM files
*.exp
*.ifc