.file
  &__metadata
    margin-top: 20px

  &__description
    margin-top: 20px

  &__content-info
    height: 60vh
    overflow: auto
    border: 1px solid
    margin-bottom: 40px
  &__header
    justify-content: space-between