.projects
  &__list
    margin-top: 24px
  &__project
    margin-bottom: 8px
    padding: 16px
    border: 1px solid #d9d9d9
    border-radius: 8px
    cursor: pointer
    &:hover
      border-color: #40a9ff
      background: #f1f7fc
    .col-xs-9
      text-align: left
    .col-xs-3
      text-align: left
  &__project-name
    font-size: 24px
    margin-bottom: 8px
  &__project-files
    margin-top: 8px
    border-top: 1px solid #d9d9d9
  &__create-project
    .ant-btn
      margin-right: 16px
  &__input-label
    margin-bottom: 6px
    color: #757575
  &__fields
    display: flex
    flex-direction: column
  &__project-field
    display: flex
    margin-right: 24px
  &__field-name
    margin-right: 8px
    display: flex