.file
  &__metadata
    margin-top: 20px

  &__description
    margin-top: 20px

  &__changes
    margin-top: 20px

  &__create-file
    .ant-btn
    margin-right: 16px
  &__file-content
    position: relative
    margin-top: 20px
  &__file-content-info
    height: 60vh
    overflow: auto
    border: 1px solid #e60028
  &__file-content-edit
    position: absolute
    left: -48px
  &__file-content-save
    position: absolute
    left: -48px
    top: 100px
  &__file-show-content
    display: flex
    justify-content: space-between
    align-items: center
    border: 1px solid black
    background-color: #eeeeee
    padding: 20px
    cursor: pointer
  &__file-content-loader
    align-items: center
    display: flex
    justify-content: center
    height: inherit
    border-radius: 4px
  &__multiply-edit
    display: flex
    margin-bottom: 8px
  &__multiply-inputs
    display: flex
    flex-direction: column
  &__multiply-input
    margin: 0 4px 8px 4px!important
  &__multiply-input-container
    display: flex